.bottomNav {
  @apply fixed bottom-5 rounded-full inset-x-0 z-50;
  @apply h-16 w-[90%] mx-auto;
  @apply  border-white/5;
  transition: all 500ms cubic-bezier(0.2, 0, 0.2, 1);

  @media (min-width: 1025px) {
    @apply hidden;
  }
}

.container {
  @apply flex p-1 items-center justify-around h-full mx-auto;
}

.navItem {
  @apply flex flex-col items-center justify-center gap-0.5;
  @apply text-white/50 no-underline transition-all duration-300;
  @apply w-1/4 h-full relative z-10;

  span {
    @apply text-[10px] font-semibold scale-90 transition-all duration-300;
  }

  &.active {
    @apply text-white;
    
    span {
      @apply  scale-100;
    }
  }

  &:hover {
    @apply text-white/90;
  }
}

.activeIndicator {
  @apply absolute inset-0 -z-10 ;
  @apply bg-white/10 rounded-full backdrop-blur-2xl border border-white/10 shadow-[inset_0_1px_1px_rgba(255,255,255,0.2)];
}

.authItem {
  @apply bg-transparent border-none cursor-pointer p-0;
}
